<div class="row">
  <div class="col-7">
    <app-avenger-detail></app-avenger-detail>
  </div>
  <div class="col-5">
    <form #avengerForm="ngForm" (submit)="submitBtnClick(avengerForm)">
      <div class="form-group">
        <label class="col-sm-2 col-form-label"> Name: </label>
        <div class="col-sm-10">
          <input type="text" name="name" class="form-control" [(ngModel)]="obj.name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2"> Description : </label>
        <div class="col-sm-10">
          <textarea class="form-control" name="description" rows="5" [(ngModel)]="obj.description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2"> Skills : </label>
        <div class="col-sm-10">
          <textarea class="form-control" name="skill" rows="5" [(ngModel)]="obj.skill"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2"> Photo : </label>
        <div class="col-sm-10">
          <input type="file" name="image" class="form-control-file" ngModel>
        </div>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary"> Submit </button>&nbsp;
      </div>
    </form>
  </div>
</div>

<!-- {{ avengers | json }} -->